NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_KYC_BUCKET=
NEXT_PUBLIC_R2_PUBLIC_BASE_URL=
NEXT_PUBLIC_R2_SIGN_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID_WEB=

NEXT_PUBLIC_TOMTOM_KEY=
NEXT_PUBLIC_TOMTOM_STYLE_URL=https://api.tomtom.com/style/2/custom/style/dsfsdfsdfdsfds/drafts/0.json?key=sdfdsfdsfs
NEXT_PUBLIC_TOMTOM_STYLE_ID=

NEXT_PUBLIC_PWA_PROMPT_INTERVAL_MINUTES=2880 (2 days for prod)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

NEXT_PUBLIC_GALLI_MAP_API_KEY=